<h2>Trigger</h2>


<form method="post" action="/sendtext">

    ServiceName: <br><input type="text" size="30" name="serviceName"><br>
    EventName:<br><input type="text" size="30" name="eventName"><br>
    Status:<br><input type="text" size="30" name="status"><br>
    URL:<br><input type="text" size="30" name="pushUrl"><br>
    <input type="submit" value="Send">
</form>